name: main - Update Project, Post Training
run-name: ${{ github.event.client_payload.project_name }}

permissions:
  id-token: write
  contents: write

on:
  repository_dispatch:
    types: [main_update_post]

jobs:
  deploy:
    runs-on: windows-11-arm
    steps:
      - name: Install Pipeline Package
        shell: pwsh
        run: |
          git clone https://x-token-auth:${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}@bitbucket.org/imagimob/_starter-projects-pipeline.git
          pip install -e _starter-projects-pipeline

      - name: Update project
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          update-project --rel-path "${{ github.event.client_payload.project_name }}" --job-id "${{ github.event.client_payload.job_id }}"
