name: main - Update Projects
run-name: >
  ${{
    github.event.event_type == 'main_update_all' && 'All Projects' ||
    github.event.event_type == 'main_update_post' && github.event.client_payload.rel_path ||
    ''
  }}

permissions:
  id-token: write
  contents: write

on:
  repository_dispatch:
    types:
      - main_update_all
      - main_update_post
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-11-arm
    steps:
      - name: Install Pipeline Package
        shell: pwsh
        run: |
          git clone https://x-token-auth:${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}@bitbucket.org/imagimob/_starter-projects-pipeline.git
          pip install -e _starter-projects-pipeline

      - name: Update projects
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if ("${{ github.event.event_type }}" -eq "main_update_all") {
            update-all
          } elseif ("${{ github.event.event_type }}" -eq "main_update_post") {
            update-project --rel-path "${{ github.event.client_payload.rel_path }}" --job-id "${{ github.event.client_payload.job_id }}"
          } elseif ("${{ github.event_name }}" -eq "push") {
            update-changes
          } else {
            throw "Unsupported event: ${{ github.event_name }}"
          }
