name: main - Update All Projects

permissions:
  id-token: write
  contents: write

on:
  repository_dispatch:
    types: [main_update_all]

jobs:
  deploy:
    runs-on: windows-11-arm
    steps:
      - name: Install Pipeline Package
        shell: pwsh
        run: |
          git clone https://x-token-auth:${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}@bitbucket.org/imagimob/_starter-projects-pipeline.git
          pip install -e _starter-projects-pipeline

      - name: Update all projects
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          update-all
