name: main - Update Projects
run-name: >
  ${{
    github.event.action == 'main_update_all' && 'All Projects' ||
    github.event.action == 'main_update_post' && github.event.client_payload.rel_path ||
    ''
  }}

permissions:
  id-token: write
  contents: write

on:
  repository_dispatch:
    types:
      - main_update_all
      - main_update_post
  push:
    branches:
      - main
    paths-ignore:
      - Models/**

jobs:
  deploy:
    runs-on: windows-2025
    steps:
      - name: Install Pipeline Package
        shell: pwsh
        run: |
          git clone https://x-token-auth:${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}@bitbucket.org/imagimob/_starter-projects-pipeline.git
          pip install -e _starter-projects-pipeline

      - name: Update projects
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SENSOR_MAP: ${{ vars.SENSOR_MAP }}
        run: |
          if ("${{ github.event.action }}" -eq "main_update_all") {
            update-all
          } elseif ("${{ github.event.action }}" -eq "main_update_post") {
            update-trained --project ${{ github.event.client_payload }}
          } elseif ("${{ github.event_name }}" -eq "push") {
            update-changes
          } else {
            throw "Unsupported event: ${{ github.event_name }}"
          }
