name: PR - Deploy Changed Projects
run-name: ${{ github.event.inputs.pr_number }}

permissions:
  id-token: write
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR Number'
        required: true

jobs:
  deploy:
    runs-on: windows-2025
    steps:
      - name: Install Pipeline Package
        shell: pwsh
        run: |
          git clone https://x-token-auth:${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}@bitbucket.org/imagimob/_starter-projects-pipeline.git
          pip install -e _starter-projects-pipeline

      - name: Deploy changed projects
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SENSOR_MAP: ${{ vars.SENSOR_MAP }}
        run: |
          pr-deploy --pr-number ${{ github.event.inputs.pr_number }}
