name: Start Pipeline

on:
  pull_request_review:
    types: [submitted]  # Trigger on PR review submission
  pull_request_target:
    types: [synchronize]
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR Number (leave empty for main branch)'

jobs:
  start_pipeline:
    runs-on: ubuntu-latest
    if: |
      github.event_name != 'pull_request_review' || 
      github.event.review.state == 'changes_requested' ||
      github.event.review.state == 'approved'
    steps:
      - name: Setup Requirements
        run: |
          python -m pip install requests
      - name: Checkout and Start Pipeline
        env:
          STARTER_MODELS_PIPELINE_TOKEN: ${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "pull_request_target" ]; then
            PR_NUMBER="${{ github.event.pull_request.number }}"
          elif [ "${{ github.event_name }}" == "pull_request_review" ]; then
            PR_NUMBER="${{ github.event.pull_request.number }}"
          elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            PR_NUMBER="${{ github.event.inputs.pr_number }}"
          else
            # Assume this is a push to main
            PR_NUMBER=""
          fi
          
          git clone https://github.com/Infineon/deepcraft-studio-accelerators.git deepcraft-studio-accelerators
          cd deepcraft-studio-accelerators
          
          if [ -z "$PR_NUMBER" ]; then
            git checkout main
          else
            git fetch origin pull/$PR_NUMBER/head
            git checkout FETCH_HEAD
          fi

          python .github/workflows/start_pipeline.py --pr-number "$PR_NUMBER"
