name: Start Pipeline

on:
  pull_request:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR Number'

jobs:
  start_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Requirements
        run: |
          python -m pip install requests
      - name: Checkout and Start Pipeline
        env:
          STARTER_MODELS_PIPELINE_TOKEN: ${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            PR_NUMBER="${{ github.event.pull_request.number }}"
          elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            PR_NUMBER="${{ github.event.inputs.pr_number }}"
          else
            PR_NUMBER=""
          fi
          
          git clone https://github.com/Infineon/deepcraft-studio-accelerators.git deepcraft-studio-accelerators
          cd deepcraft-studio-accelerators
          git fetch origin pull/$PR_NUMBER/head
          git checkout FETCH_HEAD
          python .github/workflows/start_pipeline.py --PR-NUMBER "PR_NUMBER"
