name: Start Pipeline

on:
  pull_request:
  workflow_dispatch:
    inputs:
      pr_head:
        description: 'PR Head ([<owner>:]<branch>)'

jobs:
  start_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Requirements
        run: |
          python -m pip install requests
      - name: Checkout and Start Pipeline
        env:
          STARTER_MODELS_PIPELINE_TOKEN: ${{ secrets.STARTER_MODELS_PIPELINE_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            OWNER="${{ github.event.pull_request.head.user.login }}"
            REPO="${{ github.event.pull_request.head.repo.name }}"
            BRANCH="${{ github.event.pull_request.head.ref }}"
            IS_PR="--is-pr"
          else
            PR_HEAD="${{ github.event.inputs.pr_head }}"
            REPO="${{ github.event.repository.name }}"
            if [ -n "$PR_HEAD" ]; then
              OWNER=$(echo $PR_HEAD | cut -d':' -f1)
              BRANCH=$(echo $PR_HEAD | cut -d':' -f2)
              IS_PR="--is-pr"
            else
              OWNER="${{ github.repository_owner }}"
              BRANCH="${{ github.ref_name }}"
              IS_PR=""
            fi
          fi
          
          git clone https://github.com/$OWNER/$REPO.git deepcraft-studio-accelerators
          cd deepcraft-studio-accelerators
          git fetch origin pull/${{ github.event.pull_request.number }}/head:$BRANCH
          git checkout $BRANCH
          python .github/workflows/start_pipeline.py --owner "$OWNER" --repo "$REPO" --branch "$BRANCH" $IS_PR
